.viagem__container-info {
  width: 70%;
  height: 30px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  border-top: 2px solid gray;
}

.viagem__info {
  margin-left: 15%;
  height: 200px;
}

.text_color {
  background-color: springgreen;
}