.one {
  vertical-align: middle;
  float: left;
  overflow: auto;
  cursor: pointer;
  margin-top: 15px;
}

.image {
  height: auto;
  border: 1px solid gainsboro;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container_atleta {
  width: 70%;
  height: 200px;
  margin: auto;
  padding: 2px;
  border-top: 2px solid gray;
  margin-bottom: 15px;
}

.one {
  width: 20%;
  float: left;
  padding: 10px;
}

.two {
  margin-left: 15%;
  height: 200px;
}

.detail_atleta {
  font-weight: 100;
  font-size: 35px;
}
