body {
  background: #fafafa;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

.itemViagem {
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 20px;
  margin-top: 20px;
  max-width: 300px;
  display: inline-flex;
  flex-direction: column;
  background: #f2f2f2;
  align-items: center;
}

.texto {
  text-align: justify;
  margin-top: 10px;
}

.perfil {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  float: left;
}

.nomeAtleta {
  background-color: springgreen;
  max-width: 123px;
}

.nomeCompeticao {
  background-color: springgreen;
  max-width: 123px;
}
.nomeModalidade {
  background-color: springgreen;
  max-width: 123px;
}
