.marta_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.marta_image {
  max-width: 1000px;
}

.viagem__card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment_card {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viagens {
  margin-top: 30px;
  margin-right: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mais_viagens {
  margin-left: 830px;
  display: flex;
  align-items: center;
  justify-content: center;
}
