.viagens__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.viagens_all {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.viagens__ajude {
  padding: 20px;
  margin-left: 80px;
}
